/*.table text-align */
.box .table tr th:nth-child(2), .box .table tr td:nth-child(2) {text-align: left !important;}
.box .table tr th:nth-child(10), .box .table tr td:nth-child(10) {display: none;}

.modal-wrap1 .pop2 li:nth-child(14) {display: none;}

/* 반응형 */
@media screen and (max-width: 1750px) {
	.table-media {min-width:1500px;}
}

#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.7;
    z-index: 1002;
    text-align: center;
}
#loading > #loading_bar {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1003;
    transform : translate(-50%, -50%);
}