.cb{ font-size: 1rem;}
.cb > span {background-color: #60b3f7; border-radius: 5px; color: #fff; padding: 0.2rem 0.4rem; font-size: 0.85rem;}
.tabcontent {display: block;}
.tb > span {background-color: #c0c0c0; border-radius: 5px; color: #fff; padding: 0rem 0.15rem; margin-right: 0.2rem;line-height: 1.7;}

.tb-wrap .tb:nth-child(1) > span, td .tb:nth-child(1) > span {background-color: #82cde4;}
.tb-wrap .tb:nth-child(2) > span, td .tb:nth-child(2) > span {background-color: #ffda74;}
.tb-wrap .tb:nth-child(3) > span, td .tb:nth-child(3) > span {background-color: #fcb099;}
.tb-wrap .tb:nth-child(4) > span, td .tb:nth-child(4) > span {background-color: #79d6af;}

/* graph */
#container {width: 100%; height: 23.2rem; position: relative;}
#container span {font-size: 1.05rem; color: #5e5e5e; font-weight: bold;}
/***************** graph ****************/
.table tbody td, .table th {padding: 0.4rem 0.5rem !important;}
.table tbody tr td:not(:last-child) {border-right: 1px solid #eee;}
.table thead th {position: sticky !important; top: 0; z-index: 900;}