/* modal */
.pop-total .pop-list span {min-width: 7.5rem;}
.pop-total {display: flex; flex-wrap: wrap; /* width: 35rem; */}
.pop-total li {flex: 50%;}
.pop-total li input {text-align: right;}
.t1 {/* width: 35rem;  */height: 12rem; overflow-y: auto;}
.t1 th {padding-left: 0.2rem; padding-right: 0.2rem;}
.t1 td {padding: 0.3rem 0.3rem !important;}
.t1 td:nth-child(1) input {width: 4rem;}
.t1 td:nth-child(2) input {width: 8rem;}
.t1 td:nth-child(3) input {width: 4.5rem;}
.t1 td:nth-child(4) input {width: 7.5rem;}
.t1 td:nth-child(5) input {width: 5rem;}
.t1 td:nth-child(6) input {width: 7rem;}
.t1 td:nth-child(7) input {width: 7rem;}
.t1 td:nth-child(8) select {width: 4rem;}
.t2 {height: 25rem; overflow-y: auto;}
.t2 .table tr th:nth-child(2), .t2 .table tr td:nth-child(2) {text-align: right !important;}
.box ul:nth-child(1) {flex: 45% 1 0;}

.fixedHeader{position:sticky; top:0;}

#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.7;
    z-index: 1002;
    text-align: center;
}
#loading > #loading_bar {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1003;
    transform : translate(-50%, -50%);
}