/* square-wrap */
.square-wrap2 {flex: 33.333% 0 1; margin: 0 1rem 0 0; background-color: #fff; box-shadow: 0 0 40px rgba(8, 21, 66, 0.05); border-radius: 0.9rem; padding: 1.5rem; position: relative; overflow: hidden;}
.square-wrap3 {flex: 33.333% 0 1; margin: 1rem 1rem 0 0; background-color: #fff; box-shadow: 0 0 40px rgba(8, 21, 66, 0.05); border-radius: 0.9rem; padding: 1.5rem; position: relative; overflow: hidden; min-height: 290px;}
.square-wrap4 {flex: 50%; margin-bottom: 0 !important;}
.square-wrap2:last-child, .square-wrap3:last-child {margin-right: 0;}

/* today-wrap */
.today-wrap {font-family: 'NanumSquareRound'; position: relative; min-height: 87.19px; background-color: #ffffff; padding: 1rem; font-size: 1rem;font-weight: bold;}
.today {font-size: 1.3rem; color: #2c7be5; font-weight: bold; font-family: 'Cafe24Ssurround'; padding: 0;}
.today-wrap img {width: 50px; height: auto; position: absolute; right: 1.5rem; top: 1rem;}

/* lists-wrap */
.lists-wrap {background-color: #ecf3fc; padding: 1rem; border-radius: 4px;}
.lists-wrap ul {display: flex; justify-content: space-between;}
.lists-wrap ul:nth-child(1) {margin-bottom: 0.5rem;}
.list { color: #acadb4;}
.list > div {color: #000000; font-weight: bold;}
.line {height: 1rem; color: #c6c7cc;}

/* graph */
#container {height: 12rem; max-width: 100%; margin: auto;}
#container span {font-size: 1.05rem; color: #5e5e5e; font-weight: bold;}

/* rank */
.table {margin-bottom: 0 !important; border: 1px solid #eee;}
.table thead th, .table tbody td {padding: 0.2rem 0.2rem !important; text-align: center;}
.table tbody tr td:nth-child(1) div {background-color: #6372a0; color: #ffffff; box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.2); text-align: center; width: 1.2rem; height: 1.2rem; border-radius: 50%; text-align: center; vertical-align: middle; line-height: 1.4;}
.rank-red {color: #e94545;}
.rank-blue {color: #2c7be5;}
.rank-name {font-family: 'Happiness-Sans-Bold'; font-size: 0.9rem; margin-bottom: 0.4rem; color: #5e5e5e; }
.fa-crown {position: relative; top: -0.6rem; transform: rotate(30deg); color: #fded59; animation-name: king; animation-duration: 1s; animation-iteration-count: infinite; animation-timing-function: linear;}
@keyframes king {
	0% 	 {transform: scale(1) rotate(30deg);}
	25%  {transform: scale(1) rotate(20deg);}
	50%  {transform: scale(1.1) rotate(10deg);}
	75%  {transform: scale(1) rotate(20deg);}
	100% {transform: scale(1) rotate(30deg);}
}

/*.table text-align */
.table thead tr th:nth-child(4), .table tbody tr td:nth-child(4) {text-align: right;}

.rank-list {background-color: #6f7eb1; /* background-color: #354781; */ color: #fff !important;}
.rank-list .rank-name {color: #fff !important;}
.rank-list .table-wrap {color: #fff !important;}
.rank-list .table {color: #fff !important;}
.rank-list .table thead th, .rank-list .table tbody td {padding: 0.5rem 0.2rem !important;}

/* hover */
.productname {position: relative; cursor: pointer; }
.productname-hover {width: 25rem; position: absolute; top: -12px; left: -7px; border-radius: 3px; opacity: 0; transition: all 0.5s; visibility: hidden; font-size: 0.85rem; color: #fff; font-weight: normal;}
.productname-line {background-color: rgba(0, 0, 0, 0.5); border-radius: 3px; padding: 0.2rem 0.4rem;}
.productname:hover .productname-hover {top: -26px; opacity: 1; visibility: visible;  z-index: 900;}
.tri{position: absolute; top: 22px; left: 15px; width: 0px; height: 0px; border-bottom: 8px solid none; border-top: 8px solid rgba(0, 0, 0, 0.5); border-right: 6px solid transparent; border-left: 6px solid  transparent;}

.square-wrap4 .table thead tr th:nth-child(3), .square-wrap4 .table tbody tr td:nth-child(3) {text-align: right;}
.tablink {font-family: 'NanumSquareRound'; cursor: pointer; color: #ffffff !important; background-color: #c5c9d8 !important; padding: 0.2rem 0.5rem; font-size: 0.8rem;}
.tablink.active {cursor: pointer; color: #ffffff !important; background-color: #354781 !important;}
.tablink:focus {box-shadow: none;}
.table tbody tr td:nth-child(4).tabcont {display: none;}

/* 제외상품관리 */
.option {float: right; cursor: pointer; font-size: 1.1rem; color: #ff1717;}
.fa-xmark {background-color: #ff5943; color: #fff; padding: 0.25rem 0.35rem 0.2rem 0.35rem; border-radius: 4px; cursor: pointer;}
.fa-xmark:hover {background-color: #f04832;}
.fa-square-minus {position : relative; bottom: 0.2rem;}
.expta {margin-left: auto; margin-bottom: -5px;}

/* modal-wrap */
.modal-wrap1 {z-index: 1001;}
.modal-wrap1 .pop1 {width: 1300px;}
.modal-wrap1 .pop1 .regi_list tr td:nth-child(2) {text-align: left !important;}
.modal-wrap1 .pop1 .regi_sel tr td:nth-child(2) {text-align: left !important;}
.modal-wrap1 .fa-arrow-right {font-size: 2rem; color: #97a0ad; vertical-align: middle; display: table-cell;}
.ddd {display: table; margin: 0 1rem;}

#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.7;
    z-index: 1002;
    text-align: center;
}
#loading > #loading_bar {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1003;
    transform : translate(-50%, -50%);
}
