.writer, .title{border-bottom: 1px solid #ddd;}

.box {background-color: #f3f3f9; box-shadow: none; padding: 0; padding-top: 1rem;}
.box > div {padding: 1rem; background-color: #fff; box-shadow: 0 1px 2px rgb(56 65 74 / 15%); border-radius: 0.25rem;}

#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.7;
    z-index: 1002;
    text-align: center;
}
#loading > #loading_bar {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1003;
    transform : translate(-50%, -50%);
}