.cb{ font-size: 1rem;}
.cb > span {background-color: #60b3f7; border-radius: 5px; color: #fff; padding: 0.2rem 0.4rem; font-size: 0.85rem;}


/***************** graph ****************/
#container {width: 100%; height: 22.4rem; position: relative;}
#container span {font-size: 1.05rem; color: #5e5e5e; font-weight: bold;}

/* table */
.table thead tr th, .table tbody tr td {width: 1rem !important;}/* 잘 안되는 듯 */
.table tbody td, .table th {padding: 0.4rem 0.5rem !important;}
.table tbody tr td:not(:last-child) {border-right: 1px solid #eee;}
.box .table thead tr th:nth-child(1), .box .table tbody tr td:nth-child(1) {position: sticky !important; left: 0; z-index: 900; background-color: #f6f8fb; color: #212f30; font-weight: bolder;}

.pop-cont .table thead th {position: sticky !important; top: 0; z-index: 900;}

.tab2 button {border: none; outline: none; width: 7rem; padding: 0.5rem; background-color: #c5c9d8; color: #ffffff;box-shadow: 1px 1px 2px rgba(167, 167, 167, 0.4);}
.tab2 button:hover {color: #ffffff;}
.tab2 button.active {color: #ffffff; background-color: #6273ac; background-color: #5e98da; box-shadow: 1px 3px 6px rgba(52, 63, 97, 0.4);}

.table tbody tr td:not(:nth-child(1)), .table tr th:not(:nth-child(1)) {min-width: 5rem; max-width: 5rem;}
.table tbody tr td:nth-child(1), .table tr th:nth-child(1) {min-width: 2rem; max-width: 2rem;}

#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.7;
    z-index: 1002;
    text-align: center;
}
#loading > #loading_bar {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1003;
    transform : translate(-50%, -50%);
}