.box-wrap > div:nth-child(1) {flex: 50% 0 0;}
.box-wrap > div:nth-child(2) {flex: 50% 0 1; display: none;}

/*.table text-align */
.box .table tr th:nth-child(2), .box .table tr td:nth-child(2) {text-align: left !important;}

/* file */
.file-input{display:none;}
.img-plus {display:inline-block; color:#ffffff; padding: 0.3rem 0.4rem; cursor:pointer; border-radius: 4px; margin-bottom: 0; min-width: 4.7rem; background-color: #607cd6; margin-left: 1rem; font-size: 0.8rem;}
.img-plus i {color: #adbcee; font-size: 1.1rem;}
.img-plus:hover {color: #fff; background-color: #718de7;}
.img-plus:after {content:"이미지 등록";}

/* table */
.view {color: #5e78ce; font-weight: bold; background-color: #eaf0fc;  padding: 0.2rem 1rem; border-radius: 108px;}
.remove {color: #ff2424; font-weight: bold; background-color: #ffc3c3;  padding: 0.2rem 1rem; border-radius: 108px;}
.table td:nth-child(3) > input {border: none !important; background-color: inherit;}
td select {width: 4rem !important; padding: 0 !important; text-align: center;}
td img {width: 86.5px;}
.notice {color: #fa5858; font-size: 0.8rem;}
.templete {position: absolute; z-index: 999; width: 100%; height: 390px; /* display: none; */}
.box .table tr th:nth-child(8), .box .table tr td:nth-child(8) {display: none;}

/* slide */
.swiper-container {max-width: 520px; position: relative; padding-bottom: 4rem !important; height: 430px;}
.swiper-wrapper {width: 100%; height: 100%;}
.swiper-slide {max-width: 520px !important;}
.swiper-slide img {width: 520px; height: 390px;}
.swiper-pagination-custom, .swiper-pagination-bullets {bottom: 0 !important;}
.swiper-pagination-bullet {padding: 0.5rem;}
.swiper-pagination-bullet-active {background-color: #607cd6 !important;}

/* modal-wrap */
.pop2 {width: 57rem;}
.pop2 {max-height: 97vh !important; overflow-y: auto;}
.pop3 {background-color: #f1f5f9; padding: 1rem; border-radius: 10px; width: 57rem; height: 651px; overflow: auto;}
.pop3 .templete {display: flex; overflow: hidden;}
.pop3 .swiper-wrapper {width: 16.4rem; margin: 0.5rem; display: inline; overflow: hidden;}
.pop3 .swiper-wrapper > .img {min-height: 199.42px !important; max-height: 199.42px;}

/* snow */
.snow {position: absolute; cursor: pointer; animation-iteration-count: infinite; animation-timing-function: linear; width: 11px; opacity: 0.5;}
.snow1 {animation-name: snow1; animation-duration: 5s;}
.snow2 {animation-name: snow2; animation-duration: 5s;}
.snow3 {animation-name: snow3; animation-duration: 4s;}
.snow4 {animation-name: snow4; animation-duration: 5s;}
.snow5 {animation-name: snow5; animation-duration: 5s;}
.snow6 {animation-name: snow6; animation-duration: 4s;}
.snow7 {animation-name: snow7; animation-duration: 5s;}
.snow8 {animation-name: snow8; animation-duration: 4s;}
.snow9 {animation-name: snow9; animation-duration: 4s;}
.snow10 {animation-name: snow10; animation-duration: 7s;}
.snow11 {animation-name: snow11; animation-duration: 10s}
.snow12 {animation-name: snow12; animation-duration: 11s}
.snow13 {animation-name: snow13; animation-duration: 11s}
.snow14 {animation-name: snow14; animation-duration: 9s}
.snow15 {animation-name: snow15; animation-duration: 11s}
.snow16 {animation-name: snow16; animation-duration: 9s}
.snow17 {animation-name: snow17; animation-duration: 10s}
.snow18 {animation-name: snow18; animation-duration: 11s}
.snow19 {animation-name: snow19; animation-duration: 9s}
.snow20 {animation-name: snow20; animation-duration: 9s}

@keyframes snow1 {
	0% {top: 0; left: 0;}
	50% {top: 50%; left: 5%;}
	100% {top: 100%; left: 0;}
}

@keyframes snow2 {
	0% {top: 20%; left: 10%;}
	50% {top: 50%; left: 30%;}
	100% {top: 100%; left: 10%;}
}

@keyframes snow3 {
	0% {top: 30%; left: 20%;}
	50% {top: 50%; left: 35%;}
	100% {top: 100%; left: 20%;}
}

@keyframes snow4 {
	0% {top: 5%; left: 30%;}
	50% {top: 50%; left: 45%;}
	100% {top: 100%; left: 30%;}
}

@keyframes snow5 {
	0% {top: 10%; left: 50%;}
	50% {top: 50%; left: 60%;}
	100% {top: 100%; left: 40%;}
}

@keyframes snow6 {
	0% {top: 5%; left: 70%;}
	50% {top: 50%; left: 60%;}
	100% {top: 100%; left: 70%;}
}

@keyframes snow7 {
	0% {top: 15%; left: 80%;}
	50% {top: 50%; left: 70%;}
	100% {top: 100%; left: 80%;}
}
@keyframes snow8 {
	0% {top: 5%; left: 70%;}
	50% {top: 50%; left: 80%;}
	100% {top: 100%; left: 70%;}
}
@keyframes snow9 {
	0% {top: 20%; left: 90%;}
	50% {top: 50%; left: 80%;}
	100% {top: 100%; left: 90%;}
}
@keyframes snow10 {
	0% {top: 5%; left: 100%;}
	50% {top: 50%; left: 90%;}
	100% {top: 100%; left: 100%;}
}
@keyframes snow11 {
	0% {top: 0; left: 0;}
	50% {top: 50%; left: 5%;}
	100% {top: 100%; left: 0;}
}

@keyframes snow12 {
	0% {top: 20%; left: 10%;}
	50% {top: 50%; left: 20%;}
	100% {top: 100%; left: 10%;}
}

@keyframes snow13 {
	0% {top: 30%; left: 20%;}
	50% {top: 50%; left: 10%;}
	100% {top: 100%; left: 20%;}
}

@keyframes snow14 {
	0% {top: 5%; left: 30%;}
	50% {top: 50%; left: 20%;}
	100% {top: 100%; left: 30%;}
}

@keyframes snow15 {
	0% {top: 10%; left: 50%;}
	50% {top: 50%; left: 60%;}
	100% {top: 100%; left: 40%;}
}

@keyframes snow16 {
	0% {top: 5%; left: 70%;}
	50% {top: 50%; left: 60%;}
	100% {top: 100%; left: 70%;}
}

@keyframes snow17 {
	0% {top: 15%; left: 80%;}
	50% {top: 50%; left: 70%;}
	100% {top: 100%; left: 80%;}
}
@keyframes snow18 {
	0% {top: 5%; left: 70%;}
	50% {top: 50%; left: 80%;}
	100% {top: 100%; left: 70%;}
}
@keyframes snow19 {
	0% {top: 20%; left: 90%;}
	50% {top: 50%; left: 80%;}
	100% {top: 100%; left: 90%;}
}
@keyframes snow20 {
	0% {top: 5%; left: 100%;}
	50% {top: 50%; left: 90%;}
	100% {top: 100%; left: 100%;}
}

#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.7;
    z-index: 1002;
    text-align: center;
}
#loading > #loading_bar {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1003;
    transform : translate(-50%, -50%);
}