/*.table text-align */
.box .table tr th:nth-child(3), .box .table tr td:nth-child(3) {text-align: left !important;}
.box .table tr th:nth-child(4), .box .table tr td:nth-child(4) {text-align: left !important;}
.box .table tr th:nth-child(9), .box .table tr td:nth-child(9) {text-align: right !important;}
.box .table tr th:nth-child(10), .box .table tr td:nth-child(10) {text-align: right !important;}
.box .table tr th:nth-child(11), .box .table tr td:nth-child(11) {text-align: right !important;}
.box .table tr th:nth-child(12), .box .table tr td:nth-child(12) {text-align: right !important;}

/* date-tabs */
.date-tabs {overflow: hidden; background-color: #999fa8; display: flex; border-radius: 4px; height: 2rem; font-family: 'MinSans-Regular'; margin-left: 8px;}
.date-tabs button  {border: none; outline: none; width: 3rem; transition: all 0.3s; font-size: 0.83rem; color: #fff; background-color: #999fa8; margin: 0; padding: 0;}
.date-tabs button.active {background-color: #777c85;}
.date-tabs button:hover {background-color: #82878f;}

/* 반응형 */
@media screen and (max-width: 1750px) {
	.table-media {min-width:1500px;}
}

#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.7;
    z-index: 1002;
    text-align: center;
}
#loading > #loading_bar {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1003;
    transform : translate(-50%, -50%);
}

/* hover */
.productname {position: relative;}
.productname-hover {width: 25rem; position: absolute; top: -12px; left: -7px; border-radius: 3px; opacity: 0; transition: all 0.5s; visibility: hidden; font-size: 0.85rem; color: #fff; font-weight: normal;}
.productname-line {background-color: rgba(0, 0, 0, 0.5); border-radius: 3px; padding: 0.2rem 0.4rem;}
.productname:hover .productname-hover {top: -26px; opacity: 1; visibility: visible;  z-index: 900;}
.tri{position: absolute; top: 22px; left: 15px; width: 0px; height: 0px; border-bottom: 8px solid none; border-top: 8px solid rgba(0, 0, 0, 0.5); border-right: 6px solid transparent; border-left: 6px solid  transparent;}