/*.table text-align */
.box .table tr th:nth-child(3), .box .table tr td:nth-child(3) {text-align: left !important;}
.box .table tr th:nth-child(4), .box .table tr td:nth-child(4) {text-align: left !important;}

/* 반응형 */
@media screen and (max-width: 1750px) {
	.table-media {min-width:1500px;}
}