/* font */
@font-face {
	font-family: 'Happiness-Sans-Bold';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'NanumSquareRound';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Cafe24Ssurround';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MinSans-Regular';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/************************************/
html body {font-size: 1rem; font-family: 'NanumSquareRound';}
.wrapper {max-width: 100%; min-width:1500px;}
a {text-decoration: none !important;}

/* navi-wrap */
.navi-wrap {min-width: 240px; width: 240px; min-height: 100vh; overflow-y: auto; background-color: #354781;}
.logo {padding: 2.5rem 1rem 2.5rem 1rem;}
.logo img {/* width: 75px; */width: 110px;}
.allthatlogo {position: fixed; bottom: 10px; left: 20px; z-index: 999; width: 120px;}
.navi {font-weight: bold; display: flex; justify-content: space-between; color:  #abb9e8; padding: 1rem 1.5rem;}
.navi:hover {color: #edeff4; transition: all 0.5s; cursor: pointer;}
.navi.active {color: #edeff4;}
.navi i.active {transform: rotate(90deg); transition: all 0.3s;}
.subs {display: none;}
.subs li {color: #9faede; padding: 0.5rem 1rem;  font-size: 0.9rem;}
.subs li:hover {color: #edeff4; transition: all 0.5s; cursor: pointer;}
.subs li::before {content: "-"; margin: 0 0.9rem 0 0.8rem;}
.subs li.active3 {color: #edeff4;}

/* section */
.section {width: calc(100% - 240px); min-height: 100vh; background-color: #f3f3f9;}
.user {background-color: #fff; color: #555b6d; font-size: 1.1rem;}
.user span {font-size: 0.8rem;}
.bell-num {position: absolute; top: -10px; left: 12px; background-color: #f37c67; color: #fff; text-align: center; width: 1.3rem; height: 1.3rem; border-radius: 50%; padding: 0.1rem;}
.fa-bell {cursor: pointer; animation-name: bell; animation-duration: 1.5s; animation-iteration-count: infinite; animation-timing-function: linear;}
.fa-gear {cursor: pointer; animation-name: gear; animation-duration: 2s; animation-iteration-count: infinite; animation-timing-function: linear;}
.navi-close {position: absolute; background-color: #59699e; color: #fff; padding: 0.67rem 0.4rem; line-height: 1.1; border-radius: 0 6px 6px 0; cursor: pointer; font-size: 0.85rem; opacity: 0.6;}
.navi-close:hover {opacity: 0.7; transition: all 0.3s;}

@keyframes bell {
	0% {transform: rotate(0deg);}
	5% {transform: rotate(-30deg);}
	10% {transform: rotate(0deg);}
	15% {transform: rotate(30deg);}
	20% {transform: rotate(0deg);}
	25% {transform: rotate(-30deg);}
	30% {transform: rotate(0deg);}
	35% {transform: rotate(30deg);}
	40% {transform: rotate(0deg);}
	100% {transform: rotate(0deg);}
}

@keyframes gear {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

.navi-title {background-color: #fff; padding: 0.5rem 1rem; font-size: 0.8rem; border-bottom: 2px solid #dfe1e8; border-top: 1px solid #f1f2f8; color: #495057;}
.navi-title li:nth-child(1) {font-weight: bold; font-size: 0.95rem;}
.navi-title li:nth-child(2) span {color: #8f939f;}

/* content */
.content {padding: 1rem; font-size: 0.9rem;}
.form-control {font-size: 0.85rem; padding: 0.3rem;}
.form-control::placeholder {color: #bbbbbb; font-size: 0.85rem;}
input {border: 1px solid #ddd !important; border-radius: 5px; height: 34.39px !important;}
.box {background-color: #fff; box-shadow: 0 1px 2px rgba(56, 65, 74, 0.15); margin-top: 1rem; border-radius: 0.25rem; padding: 1rem;}

/* footer */
footer {background-color: #fff; color: #8f939f; font-size: 0.9rem;}

/*table*/
.table-responsive {background-color: #ffffff; border-radius: 5px; border: 1px solid #eee;}
.table {font-family: 'MinSans-Regular';}
.table thead th {color: #212f30; background-color: #f6f8fb; font-weight: bolder; border-bottom: 1px solid #eee !important; border-top: none;}
.table tbody td {padding: 0.7rem 0.2rem !important; vertical-align: middle !important; border-bottom: 1px solid #eee; border-top: none;}
.table-striped tbody tr:nth-of-type(odd) {background-color: #fbfbfb;}
.table-hover tbody tr:hover {background-color: #e3e9f0; color: #213e66; cursor: pointer; font-weight: bold;}
.table-hover .selected {background-color: #e3e9f0; color: #213e66; cursor: pointer; font-weight: bold;}
#table_length {display: flex;}
#table2_length {display: flex;}
.dataTables_info {margin-right: 1rem;}
.dataTables_info span {color: #354781; font-weight: bold;}
.dataTables_length select {border: 1px solid #ccc; border-radius: 3px; outline: none !important;}
table.dataTable.no-footer {border: none !important;}
.table .new {color: #ff2b2b;}
.table .fa-up-long {color: #ff2b2b;}
.table .fa-down-long {color: #3c9efa;}

/* page-wrap */
.dataTables_paginate a {color: #212529;}
.dataTables_paginate {text-align: center; margin: 0.5rem 0;}
.paginate_button {display: inline-block; line-height: 2.4rem; margin-left: 5px; min-width: 2.5rem; min-height: 2.5rem; text-decoration:none; cursor: pointer;  border-radius: 6px; font-size: 1rem; padding: 0 !important; box-shadow: none !important;}
.paginate_button:hover {outline:none; background-color:#dddddd;}
.paginate_button.current, .paginate_button.current:hover {color:#fff !important; background-color:#354781; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) !important;}



/* excel */
.btnexcel, .btnexcel2 {display:inline-block; width:70px; height:30px; color:#fff;text-align:center; text-decoration:none; line-height:28px; background:#666; border: none; outline: none !important; border-radius: 5px; font-size: 0.8rem !important;}
.fa-download {color: #c4c4c4;}

/* button */
.btr {transition: all 0.3s;}
.btn-search {background-color: #354781; color: #fff; padding: 0.3rem 0.5rem; font-size: 0.8rem; height: 32px;}
.btn-search i {color: #8a93b1;}
.btn-search:hover {color: #fff; background-color: #3f5291;}
.btn-plus {background-color: #607cd6; color: #fff; padding: 0.3rem 0.5rem; font-size: 0.8rem; height: 32px;}
.btn-plus i {color: #adbcee; font-size: 1.1rem;}
.btn-plus:hover {color: #fff; background-color: #718de7;}
.btn-view {background-color: #607cd6; color: #fff; padding: 0; font-size: 0.8rem; min-width: 6rem; height: 32px;}
.btn-view i {color: #adbcee; font-size: 0.9rem;}
.btn-view:hover {color: #fff; background-color: #718de7;}
.btn-save {background-color: #1e40af; color: #fff; font-weight: bold; width: 5rem; font-size: 0.85rem; padding: 0.5rem;}
.btn-save:hover {background-color: #3453b7; color: #fff;}
.btn-cancle {border: 1px solid #dae1eb; color: #77859a; font-weight: bold; width: 5rem; font-size: 0.85rem; padding: 0.5rem;}
.btn-cancle:hover {background-color: #f9fafc; color: #64748b;}
.btn-logout {background-color: #e24842; color: #fff; border-radius: 20px; padding: 0.3rem 0.6rem; font-size: 0.8rem; box-shadow: 0px 2px 5px 2px rgba(255, 67, 67, 0.315);}
.btn-logout:hover {color: #fff; background-color: #ee554f;}

/* tab-wrap */
.tablinks {padding: 0.4rem 1.2rem; transition: all 0.3s; color: #fff; background-color: #c5c9d8; border-radius: 4px 4px 0 0;}
.tablinks:hover {color: #fff;}
.tablinks.active {background-color: #354781;}
.tabcontent {display: none;}

/* modal */
.modal-wrap1, .modal-wrap2, .modal-wrap3 {width: 100%; height: 100vh; background-color: rgba(0, 0, 0, 0.5); display: none; justify-content: center; align-items: center; position: fixed; top: 0; left: 0; z-index: 1000; transition: all 0.3s; font-size: 0.85rem;}
.pop1 {background-color: #f1f5f9; padding: 1rem; border-radius: 10px;}
.pop2 {background-color: #f1f5f9;padding: 1rem; border-radius: 10px; width: 37rem;}
.pop-title {color: #344256; font-weight: bolder; font-size: 1rem;}
.pop-cont {width: 100%; margin-top: 1rem; padding: 1rem; background-color: #fff; border-radius: 8px; box-shadow: 0 3px 5px rgba(0, 0, 0, 0.043); border: 1px solid #e2e8f0;}
.pop-list {display: flex; justify-content: space-between; align-items: center;}
.pop-list:not(:last-child) {margin-bottom: 0.5rem;}
.pop-list span {min-width: 9rem; font-weight: bold;}
.pop-list textarea {padding: 0.3rem; outline: none; border-radius: 0.25rem; border: 1px solid #ced4da;}

/* 달력 */
.calendar-img[type=text] {padding-left: 1.8rem; background:url('/img/calendar.png') no-repeat 5px 6px; background-size: 18px; cursor: pointer; background-color: #ffffff; width: 7.5rem;  border: 1px solid #ddd; text-align: left !important;}
.modal-wrap1 .calendar-img[type=text], .modal-wrap2 .calendar-img[type=text] {width: 100%;}
.pignose-calendar-wrapper {font-family: 'NanumSquareRound';}
.pignose-calendar-week-sat, .pignose-calendar-unit.pignose-calendar-unit-sat a { color: #2859e0 !important;}
.pignose-calendar-top {background-color: #354781!important;}
.pignose-calendar-unit.pignose-calendar-unit-active a {background-color: #354781!important; color: #fff!important;}

/* 스크롤 */
::-webkit-scrollbar {/* -webkit-appearance: none; */ width: 10px; height: 10px; border-radius: 8px;}
::-webkit-scrollbar-thumb {border-radius: 8px; background-color: #d6d6d6;}
::-webkit-scrollbar-track { border-radius: 8px; background-color: #f5f5f5;}

/* bt-top */
.bt-top {width: 40px; height: 40px; border-radius: 50%; background-color: rgba(27, 78, 126, 0.4); display: table; font-size: 1.25rem; color: #fff; cursor: pointer; transition: all 0.3s; position: fixed; bottom: 110px; right: 41px; z-index: 999; visibility: hidden;}
.bt-top > .fa {display: table-cell; text-align: center; vertical-align: middle;}

/* 원격지원 */
.whelper-wrap {width: 60px; height: 60px; border-radius: 50%; font-size: 0.75rem; background-color: #1485cf; opacity: 0.6; color: #fff; display: table; position: fixed; bottom: 30px; right: 30px; z-index: 999; cursor: pointer;}
.whelper {display: table-cell; text-align: center; vertical-align: middle;}
.whelper i {font-size: 0.9rem; animation-name: whelper; animation-duration: 2s; animation-iteration-count: infinite; animation-timing-function: linear;}

@keyframes whelper {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

/* swal 창 */
.swal-modal {width: 330px; border-radius: 10px;}
.swal-title {font-size: 1.1rem;}
.swal-footer {text-align: center; padding-bottom: 2rem;}
.swal-button--confirm {background-color: #1e40af; color: #fff; font-weight: bold; width: 5rem; font-size: 0.85rem; padding: 0.5rem;}
.swal-button--confirm:hover {background-color: #3453b7 !important; color: #fff !important;  transition: all 0.3s;}
.swal-button--cancel {border: 1px solid #dae1eb; background-color: #fff; color: #77859a; font-weight: bold; width: 5rem; font-size: 0.85rem; padding: 0.5rem;}
.swal-button--cancel:hover {background-color: #f9fafc !important; color: #64748b !important; transition: all 0.3s;}

/* checkbox */
.custom-control-label {padding-top: 0.15rem;}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {background-color: #354781; border: none;}
.custom-control-label::before {background-color:#eeeeee;}
.custom-control {padding-left: 1.5rem;}

/* checkbox2 */
.cbx {cursor: pointer; overflow: hidden; transition: all 0.5s; margin-bottom: 0rem !important;}
.cbx span {float: left; padding-left: 0.3rem; min-width: 1rem;}
.cbx span:first-child {position: relative; width: 21px; height: 21px; border-radius: 3px; transform: scale(1); border: 1px solid #9F9F9F; transition: all 0.2s;}
.cbx span:first-child svg {position: absolute; top: 1px; left: 1px; fill: none; stroke: #fff; stroke-width: 2; stroke-linecap: round; stroke-linejoin: round; stroke-dasharray: 15px; stroke-dashoffset: 15px; transition: all 0.2s; transition-delay: 0.1s; transform: translate3d(0, 0, 0);}
.inp-cbx {position: absolute; visibility: hidden;}
.inp-cbx:checked + .cbx {background-color: #ffffff;}
.inp-cbx + .cbx {background-color: #ffffff;}
.inp-cbx:checked + .cbx span:first-child {background: #354781; border-color: #354781; animation-name: wave; box-shadow: 1px 3px 3px rgba(168, 173, 184, 0.541);}
.inp-cbx + .cbx span:first-child {background: #e9e9e9; border-color: #a1a1a1; animation-name: wave;}
.inp-cbx:checked + .cbx span {color: #000000; font-weight: bold;}
.inp-cbx + .cbx span {color: #a1a1a1; font-weight: bold;}
.inp-cbx:checked + .cbx span:first-child svg {stroke-dashoffset: 0;}
.inline-svg {position: absolute; width: 0; height: 0; pointer-events: none; user-select: none;}
@keyframes wave {50% {transform: scale(0.9);}}

/* radio */
.radio {cursor: pointer; margin: 0; font-size: 0.9rem; color: #a1a1a1;}
.radio input {vertical-align: middle; width: 23px; height: 23px !important; border-radius: 50%; appearance: none; transition: all 0.2s; border: 1px solid #9c9c9c !important;}
.radio input:checked {box-shadow: inset 0 0 0 6px #354781; border: none !important;}

/* banner */
.banner {border-radius: 0.25rem 0.25rem  0 0; overflow: hidden; position: relative;}
.banner > h2 {font-size: 1.5rem; color: #ffffff; font-weight: bold; position: absolute; left: 2rem; top: 2rem;}
.banner > p {color: #dfeaf8; font-size: 1rem; position: absolute; left: 2rem; bottom: 2rem;}