.box-wrap > div:nth-child(1) {flex: 50% 0 0;}
.box-wrap > div:nth-child(2) {flex: 50% 0 1; display: none;}

/*.table text-align */
.box .table tr th:nth-child(2), .box .table tr td:nth-child(2) {text-align: left !important;}
.box .table tr th:nth-child(3), .box .table tr td:nth-child(3) {text-align: right !important;}
.box.tab-wrap .table tr th:nth-child(3), .box.tab-wrap .table tr td:nth-child(3) {text-align: left !important;}

/* table */
.couponimg {color: #5e78ce; font-weight: bold; background-color: #eaf0fc;  padding: 0.2rem 1rem; border-radius: 108px;}

/* file */
.file-input{display:none;}
.img-plus {display:inline-block; color:#ffffff; padding: 0.3rem 0.4rem; cursor:pointer; border-radius: 4px; margin-bottom: 0; min-width: 4.7rem; background-color: #607cd6; margin-left: 1rem; font-size: 0.8rem;}
.img-plus i {color: #adbcee; font-size: 1.1rem;}
.img-plus:hover {color: #fff; background-color: #718de7;}
.img-plus:after {content:"파일 추가";}

/* modal-wrap */
.modal-wrap1 {z-index: 1001;}
.pop1 img {max-width: 500px; height: auto; padding: 1rem;}