/* square-wrap */
.square-wrap {flex: 33.3333%; margin: 1rem 0; padding: 0 2rem; position: relative;}
.square-wrap:not(:last-child) {border-right: 2px dashed #ddd;}
.circle {width: 20px; height: 20px; background-color: #f3f3f9; border-radius: 50%; position: absolute; right: -0.7rem;}
.icon-wrap {width: 3rem; height: 3rem; display: table;  border-radius: 50%;}
.icon-wrap i {font-size: 1.2rem; display: table-cell; text-align: center; vertical-align: middle;}
.square-title {font-family: 'Happiness-Sans-Bold'; color: #6c757d; font-size: 1rem; font-weight: bold; margin-top: 0.8rem; margin-bottom: 0.2rem;}
.square-price {font-family: 'Cafe24Ssurround'; color: #344256; font-size: 1.3rem; font-weight: bold;}
.square-price span {margin-left: 0.2rem;}
.square-total {color: #8c8c8c; font-size: 1rem;}
.square-wrap:nth-child(1) .icon-wrap {background-color: #fce9e9;}
.square-wrap:nth-child(1) i {color: #e52727;}
.square-wrap:nth-child(1) .square-price span {color: #e52727;}
.square-wrap:nth-child(2) .icon-wrap {background-color: #fdecce;}
.square-wrap:nth-child(2) i {color: #f59e0c;}
.square-wrap:nth-child(2) .square-price span {color: #f59e0c;}
.square-wrap:nth-child(3) .icon-wrap {background-color: #d2d9ef;}
.square-wrap:nth-child(3) i {color: #1f41af;}
.square-wrap:nth-child(3) .square-price span {color: #1f41af;}
.circle-top {top: -1.5rem; border-bottom: 3px solid #eee;}
.circle-bottom {bottom: -1.5rem; border-top: 3px solid #eee;}

/* table */
.table-media .table-striped thead tr:nth-of-type(odd) {background-color: #f6f8fb;}

.table-media #table thead tr th:nth-child(1), .table-media #table tbody tr td:nth-child(1),
.table-media #table thead tr th:nth-child(2), .table-media #table tbody tr td:nth-child(2), 
.table-media #table thead tr th:nth-child(3), .table-media #table tbody tr td:nth-child(3),
.table-media #table thead tr th:nth-child(4), .table-media #table tbody tr td:nth-child(4),
.table-media #table thead tr th:nth-child(5), .table-media #table tbody tr td:nth-child(5),
.table-media #table thead tr th:nth-child(6), .table-media #table tbody tr td:nth-child(6){position: sticky !important; z-index: 900 !important; background-color: inherit !important;}

.table-media .table thead tr th:nth-child(1), .table-media .table tbody tr td:nth-child(1) {left: 0; min-width: 1rem; max-width: 1rem;}
.table-media .table thead tr th:nth-child(2), .table-media .table tbody tr td:nth-child(2) {left: 52.67px; min-width: 8rem; max-width: 8rem;}
.table-media .table thead tr th:nth-child(3), .table-media .table tbody tr td:nth-child(3) {left: 218.78px; min-width: 5rem; max-width: 5rem;}
.table-media .table thead tr th:nth-child(4), .table-media .table tbody tr td:nth-child(4) {left: 336.28px; min-width: 2.5rem; max-width: 2.5rem;}
.table-media .table thead tr th:nth-child(5), .table-media .table tbody tr td:nth-child(5) {left: 452.28px; min-width: 19rem; max-width: 19rem;}
.table-media .table thead tr th:nth-child(6), .table-media .table tbody tr td:nth-child(6) {left: 757.64px; min-width: 5rem; max-width: 5rem;}

/*.table text-align */
.box .table tr th:nth-child(2), .box .table tr td:nth-child(2) {text-align: left !important;}
.box .table tr th:nth-child(10), .box .table tr td:nth-child(10) {text-align: right !important;}
.box .table tr th:nth-child(11), .box .table tr td:nth-child(11) {text-align: right !important;}
.box .table tr th:nth-child(14), .box .table tr td:nth-child(14) {display: none;}

/* modal */
.pop-total .pop-list span {min-width: 7.5rem;}
.pop-total {display: flex; flex-wrap: wrap; width: 35rem;}
.pop-total li {flex: 50%;}
.pop-total li input {text-align: right;}
.pop1 .t1 {width: 35rem; height: 9.3rem; overflow-y: auto;}
.pop1 .t1 th {padding-left: 0.2rem; padding-right: 0.2rem;}
.pop1 .t1 td {padding: 0.3rem 0.3rem !important;}
.pop1 .t1 td:nth-child(1) input {width: 4rem;}
.pop1 .t1 td:nth-child(2) input {width: 8rem;}
.pop1 .t1 td:nth-child(3) input {width: 4.5rem;}
.pop1 .t1 td:nth-child(4) input {width: 7.5rem;}
.pop1 .t1 td:nth-child(5) input {width: 5rem;}
.pop1 .t1 td:nth-child(6) input {width: 7rem;}
.pop1 .t1 td:nth-child(7) input {width: 7rem;}
.pop1 .t1 td:nth-child(8) select {width: 4rem;}
.pop1 .t2 {height: 15.2rem; overflow-y: auto;}
.pop1 .t2 .table tr th:nth-child(2), .pop1 .t2 .table tr td:nth-child(2) {text-align: right !important;}

.btn-cancle {border: 1px solid #dae1eb; background-color: #fff; color: #77859a; font-weight: bold; width: 5rem; font-size: 0.85rem; padding: 0.5rem;}

/* 반응형 */
@media screen and (max-width: 2000px) {
   .table-media {min-width:1800px;}
}

#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.7;
    z-index: 1002;
    text-align: center;
}
#loading > #loading_bar {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1003;
    transform : translate(-50%, -50%);
}