/* square-wrap */
.square-wrap2 {flex: 20% 0 1; margin: 1rem 1rem 0 0; background-color: #fff; box-shadow: 0 0 40px rgba(8, 21, 66, 0.05); border-radius: 0.9rem; padding: 1.5rem 1.5rem 3rem 1.5rem; position: relative; overflow: hidden;}
.square-wrap2:last-child {margin-right: 0;}

.icon-wrap {width: 3rem; height: 3rem; display: table;  border-radius: 50%;}
.icon-wrap i {font-size: 1.2rem; display: table-cell; text-align: center; vertical-align: middle;}

.square-total {color: #8c8c8c; font-size: 1rem; font-weight: bold;}
.square-price {font-family: 'Cafe24Ssurround'; color: #344256; font-size: 1.3rem; font-weight: bold; margin-top: 0.5rem;}

.square-wrap2:nth-child(1) .icon-wrap {background-color: #f9e1fd;}
.square-wrap2:nth-child(1) i {color: #c659db;}
.square-wrap2:nth-child(2) .icon-wrap {background-color: #ddf5d4;}
.square-wrap2:nth-child(2) i {color: #4dac27;}
.square-wrap2:nth-child(3) .icon-wrap {background-color: #d2d9ef;}
.square-wrap2:nth-child(3) i {color: #1f41af;}
.square-wrap2:nth-child(4) .icon-wrap {background-color: #fce9e9;}
.square-wrap2:nth-child(4) i {color: #e52727;}
.square-wrap2:nth-child(5) .icon-wrap {background-color: #fdecce;}
.square-wrap2:nth-child(5) i {color: #f59e0c;}

.show-line {width: 9rem; position: absolute; left: 0; z-index: 30; margin-left: 2rem; padding: 0.1rem;}
.line-circle {position: absolute; left: 10.5rem; margin-top: 0.9rem; width: 1.3rem; height: 1.3rem; border-radius: 50%; animation-duration: 1.5s; animation-iteration-count: infinite; animation-timing-function: linear;}

/* 에니메이션 */
.square-wrap2:nth-child(1) .show-line {background: linear-gradient(to right, #ffffff, #f1e0f5, #c659db 70%); }
.square-wrap2:nth-child(1) .line-circle {animation-name: line-circle1;}
@keyframes line-circle1 {
	0% 	 {background: radial-gradient(#c659db 25%, rgb(255, 255, 255) 40%, rgba(255, 255, 255, 0.541)); transform: scale(1);}
	20%  {background: radial-gradient(#c659db 25%, rgb(255, 255, 255) 40%, rgba(223, 147, 219, 0.541) 75%); transform: scale(1.05);}
	40%  {background: radial-gradient(#c659db 25%, rgb(255, 255, 255) 50%, rgba(223, 147, 219, 0.541) 75%); transform: scale(1.08);}
	60%  {background: radial-gradient(#c659db 25%, rgb(255, 255, 255) 60%, rgba(223, 147, 219, 0.541) 75%); transform: scale(1.08);}
	80%  {background: radial-gradient(#c659db 25%, rgb(255, 255, 255) 40%, rgba(223, 147, 219, 0.541) 75%); transform: scale(1.05);}
	100% {background: radial-gradient(#c659db 25%, rgb(255, 255, 255) 40%, rgba(255, 255, 255, 0.541)); transform: scale(1);}
}

.square-wrap2:nth-child(2) .show-line {background: linear-gradient(to right, #ffffff, #e5f5e0, #4dac27 70%);}
.square-wrap2:nth-child(2) .line-circle {animation-name: line-circle2;}
@keyframes line-circle2 {
	0% 	 {background: radial-gradient(#4dac27 25%, rgb(255, 255, 255) 40%, rgba(255, 255, 255, 0.541)); transform: scale(1);}
	20%  {background: radial-gradient(#4dac27 25%, rgb(255, 255, 255) 40%, rgba(184, 223, 147, 0.541) 75%); transform: scale(1.05);}
	40%  {background: radial-gradient(#4dac27 25%, rgb(255, 255, 255) 50%, rgba(184, 223, 147, 0.541) 75%); transform: scale(1.08);}
	60%  {background: radial-gradient(#4dac27 25%, rgb(255, 255, 255) 60%, rgba(184, 223, 147, 0.541) 75%); transform: scale(1.08);}
	80%  {background: radial-gradient(#4dac27 25%, rgb(255, 255, 255) 40%, rgba(184, 223, 147, 0.541) 75%); transform: scale(1.05);}
	100% {background: radial-gradient(#4dac27 25%, rgb(255, 255, 255) 40%, rgba(255, 255, 255, 0.541)); transform: scale(1);}
}

.square-wrap2:nth-child(3) .show-line {background: linear-gradient(to right, #ffffff, #e0eeff, #1f41af 70%);}
.square-wrap2:nth-child(3) .line-circle {animation-name: line-circle3;}
@keyframes line-circle3 {
	0% 	 {background: radial-gradient(#1f41af 25%, rgb(255, 255, 255) 40%, rgba(255, 255, 255, 0.541)); transform: scale(1);}
	20%  {background: radial-gradient(#1f41af 25%, rgb(255, 255, 255) 40%, rgba(147, 171, 223, 0.541) 75%); transform: scale(1.05);}
	40%  {background: radial-gradient(#1f41af 25%, rgb(255, 255, 255) 50%, rgba(147, 171, 223, 0.541) 75%); transform: scale(1.08);}
	60%  {background: radial-gradient(#1f41af 25%, rgb(255, 255, 255) 60%, rgba(147, 171, 223, 0.541) 75%); transform: scale(1.08);}
	80%  {background: radial-gradient(#1f41af 25%, rgb(255, 255, 255) 40%, rgba(147, 171, 223, 0.541) 75%); transform: scale(1.05);}
	100% {background: radial-gradient(#1f41af 25%, rgb(255, 255, 255) 40%, rgba(255, 255, 255, 0.541)); transform: scale(1);}
}

.square-wrap2:nth-child(4) .show-line {background: linear-gradient(to right, #ffffff, #ffe0e0, #e52727 70%);}
.square-wrap2:nth-child(4) .line-circle {animation-name: line-circle4;}
@keyframes line-circle4 {
	0% 	 {background: radial-gradient(#e52727 25%, rgb(255, 255, 255) 40%, rgba(255, 255, 255, 0.541)); transform: scale(1);}
	20%  {background: radial-gradient(#e52727 25%, rgb(255, 255, 255) 40%, rgba(223, 150, 147, 0.541) 75%); transform: scale(1.05);}
	40%  {background: radial-gradient(#e52727 25%, rgb(255, 255, 255) 50%, rgba(223, 150, 147, 0.541) 75%); transform: scale(1.08);}
	60%  {background: radial-gradient(#e52727 25%, rgb(255, 255, 255) 60%, rgba(223, 150, 147, 0.541) 75%); transform: scale(1.08);}
	80%  {background: radial-gradient(#e52727 25%, rgb(255, 255, 255) 40%, rgba(223, 150, 147, 0.541) 75%); transform: scale(1.05);}
	100% {background: radial-gradient(#e52727 25%, rgb(255, 255, 255) 40%, rgba(255, 255, 255, 0.541)); transform: scale(1);}
}

.square-wrap2:nth-child(5) .show-line {background: linear-gradient(to right, #ffffff, #ffebe0, #f59e0c 70%);}
.square-wrap2:nth-child(5) .line-circle {animation-name: line-circle5;}
@keyframes line-circle5 {
	0% 	 {background: radial-gradient(#f59e0c 25%, rgb(255, 255, 255) 40%, rgba(255, 255, 255, 0.541)); transform: scale(1);}
	20%  {background: radial-gradient(#f59e0c 25%, rgb(255, 255, 255) 40%, rgba(252, 223, 162, 0.541) 75%); transform: scale(1.05);}
	40%  {background: radial-gradient(#f59e0c 25%, rgb(255, 255, 255) 50%, rgba(252, 223, 162, 0.541) 75%); transform: scale(1.08);}
	60%  {background: radial-gradient(#f59e0c 25%, rgb(255, 255, 255) 60%, rgba(252, 223, 162, 0.541) 75%); transform: scale(1.08);}
	80%  {background: radial-gradient(#f59e0c 25%, rgb(255, 255, 255) 40%, rgba(252, 223, 162, 0.541) 75%); transform: scale(1.05);}
	100% {background: radial-gradient(#f59e0c 25%, rgb(255, 255, 255) 40%, rgba(252, 223, 162, 0.541)); transform: scale(1);}
}

/*.table text-align */
.box .table tr th:nth-child(2), .box .table tr td:nth-child(2) {text-align: left !important;}
.box .table tr th:nth-child(4), .box .table tr td:nth-child(4) {text-align: left !important;}
.box .table tr th:nth-child(7), .box .table tr td:nth-child(7) {text-align: right !important;}
.box .table tr th:nth-child(8), .box .table tr td:nth-child(8) {text-align: right !important;}
.box .table tr th:nth-child(9), .box .table tr td:nth-child(9) {text-align: right !important;}
.box .table tr th:nth-child(10), .box .table tr td:nth-child(10) {text-align: right !important;}
.box .table tr th:nth-child(11), .box .table tr td:nth-child(11) {text-align: right !important;}

/* 반응형 */
@media screen and (max-width: 1750px) {
	.table-media {min-width:1500px;}
}
@media screen and (max-width: 1390px) {
	.show-line {width: 7rem;}
	.line-circle {left: 8rem;}
}