/* square-wrap */
.square-wrap {flex: 100%; background-color: #fff; box-shadow: 0 0 40px rgba(8, 21, 66, 0.05); border-radius: 0.9rem; padding: 1rem; position: relative;}
.square-wrap2 {flex: 25% 0 1; margin: 0 1rem 0 0; background-color: #fff; box-shadow: 0 0 40px rgba(8, 21, 66, 0.05); border-radius: 0.9rem; padding: 1rem; position: relative; overflow: hidden;}
.square-wrap3 {flex: 33.333% 0 1; margin: 1rem 1rem 0 0; background-color: #fff; box-shadow: 0 0 40px rgba(8, 21, 66, 0.05); border-radius: 0.9rem; padding: 1rem; position: relative; overflow: hidden; min-height: 290px;}
.square-wrap4 {flex: 50%; margin-bottom: 0 !important;}
.square-wrap2:last-child, .square-wrap3:last-child {margin-right: 0;}

/* today-wrap */
.today-wrap {font-family: 'NanumSquareRound'; position: relative; min-height: 45px; background-color: #ffffff; padding: 0 1rem; font-size: 1rem;font-weight: bold;}
.today {font-size: 1.3rem; color: #2c7be5; font-weight: bold; font-family: 'Cafe24Ssurround'; padding: 0;}
.today-wrap img {width: 46px; height: auto; position: absolute; right: 1rem; top: 0;}

/* lists-wrap */
.lists-wrap {background-color: #ecf3fc; padding: 0.3rem 1rem; border-radius: 4px;}
.lists-wrap ul {display: flex; justify-content: space-between;}
.list { color: #acadb4;}
.list > div {color: #000000; font-weight: bold;}
.line {height: 1rem; color: #c6c7cc;}

/* graph */
#container {height: 18.5rem; max-width: 100%; margin: auto;}
#container span {font-size: 1.05rem; color: #5e5e5e; font-weight: bold;}

/* rank */
.table {margin-bottom: 0 !important; border: 1px solid #eee;}
.table thead th, .table tbody td {padding: 0.1rem !important; text-align: center; font-size: 0.85rem;}
.table tbody tr td:nth-child(1) div {background-color: #6372a0; color: #ffffff; box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.2); text-align: center; width: 1.2rem; height: 1.2rem; border-radius: 50%; text-align: center; vertical-align: middle; line-height: 1.4;}
.rank-red {color: #e94545;}
.rank-blue {color: #2c7be5;}
.rank-name {font-family: 'Happiness-Sans-Bold'; font-size: 0.9rem; color: #5e5e5e;}
.fa-crown {position: relative; top: -0.6rem; transform: rotate(30deg); color: #fded59; animation-name: king; animation-duration: 1s; animation-iteration-count: infinite; animation-timing-function: linear;}
@keyframes king {
	0% 	 {transform: scale(1) rotate(30deg);}
	25%  {transform: scale(1) rotate(20deg);}
	50%  {transform: scale(1.1) rotate(10deg);}
	75%  {transform: scale(1) rotate(20deg);}
	100% {transform: scale(1) rotate(30deg);}
}

/*.table text-align */
.table thead tr th:nth-child(3), .table tbody tr td:nth-child(3) {text-align: right;}
.table thead tr th:nth-child(4), .table tbody tr td:nth-child(4) {text-align: right;}

/* tablink */
.tablink, .tablink2, .tablink3, .tablink4 {font-family: 'NanumSquareRound'; cursor: pointer; color: #ffffff !important; background-color: #c5c9d8 !important; padding: 0.2rem 0.5rem; font-size: 0.8rem;}
.tablink.active, .tablink2.active, .tablink3.active, .tablink4.active {cursor: pointer; color: #ffffff !important; background-color: #354781 !important;}
.tablink:focus, .tablink2:focus, .tablink3:focus, .up:focus {box-shadow: none;}
.tabcontent3 {display: none;}

.option {float: right; cursor: pointer; font-size: 1.1rem; color: #ff1717;}
.option2 {font-family: 'NanumSquareRound'; cursor: pointer; color: #ffffff !important; background-color: #c5c9d8 !important; padding: 0.2rem 0.5rem; font-size: 0.8rem;}
.option2.active {cursor: pointer; color: #ffffff !important; background-color: #5589e6 !important;}

.bar-wrap {flex: 10%;}
.bar-wrap:nth-child(7) {margin-left: 0.5rem;}
.bar {height: 0.3rem; position: relative; background: linear-gradient(90deg, rgba(190,128,211,1) 0%, rgba(116,121,223,1) 50%, rgba(71,116,231,1) 100%); background: linear-gradient(90deg, rgba(79,166,220,1) 0%, rgba(79,166,220,1) 100%);}
.bar1, .bar7 {background: linear-gradient(90deg, rgba(190,128,211,1) 0%, rgba(116,121,223,1) 50%, rgba(71,116,231,1) 100%);}

.circle {width: 1.3rem; height: 1.3rem; border-radius: 50%; background-color: #c730cb; border: 4px solid #4fa6dc; position: absolute; bottom: -0.5rem; left: calc(50% - 0.65rem);}
.circle span {position: absolute; bottom: -1.8rem; left: -2.2rem; color: #2c7be5; font-size: 0.95rem; width: 5rem; text-align: center; font-family: 'Happiness-Sans-Bold';}
.bar-cont {font-size: 0.8rem; color: #454551; font-family: 'NanumSquareRound'; margin: 2.3rem 0.5rem 0 0.5rem; background-color: #ecf3fc; padding: 0.3rem; border-radius: 6px;}
.bar-cont i {color: #2c7be5; color: #c730cb; margin-bottom: 0.7rem; font-size: 0.85rem;}

/* hover */
.productname {position: relative; cursor: pointer;}
.productname-hover {width: 25rem; position: absolute; top: -12px; left: -7px; border-radius: 3px; opacity: 0; transition: all 0.5s; visibility: hidden; font-size: 0.85rem; color: #fff; font-weight: normal;}
.productname-line {background-color: rgba(0, 0, 0, 0.5); border-radius: 3px; padding: 0.2rem 0.4rem;}
.productname:hover .productname-hover {top: -26px; opacity: 1; visibility: visible;  z-index: 900;}
.tri{position: absolute; top: 21px; left: 15px; width: 0px; height: 0px; border-bottom: 8px solid none; border-top: 8px solid rgba(0, 0, 0, 0.5); border-right: 6px solid transparent; border-left: 6px solid  transparent;}

#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.7;
    z-index: 1002;
    text-align: center;
}
#loading > #loading_bar {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1003;
    transform : translate(-50%, -50%);
}

